/*navbar animation*/
.ptr {
	cursor: pointer;
}

.bar1 {
  width: 60px;
  height: 6px;
  background-color: #333;
  margin: 9px 0;
  transition: 0.4s;
}
.bar2 {
  width: 45px;
  height: 6px;
  background-color: #333;
  margin: 9px 0;
  transition: 0.4s;
}
.bar3 {
  width: 25px;
  height: 6px;
  background-color: #333;
  margin: 9px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
  width: 50px;
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
  width: 40px;
}

.tog {
  display: none;
}

.change .tog {
  display: block;
}

.vartxt a{
  font-size: 5vh;
  text-decoration: none;
  color: black;
}

.vartxt a:hover{
  font-size: 5vh;
  text-decoration: underline;
}

.navtxt {
  background-color: darkgrey; 
  border: none;
  width: 50vw;
  border-bottom: 10px solid grey;
}

.navtxt a{
  font-size: 4vw;
  text-decoration: none;
  color: white;
}

.navtxt a:hover{
  text-decoration: underline;
}

/*end navbar animation*/



/*other css*/

.stm-1 {
  position: relative;
  top: 20vh;
}

.stm-2 {
  position: relative;
  top: 40vh;
}

.stm-3 {
  position: relative;
  top: 50vh;
}

.maintxt{
  font-size: 4vw;
  opacity: 1;
}

.itx {
  background-color: transparent; 
  border: none;  
  background-size: 30vw;
}

.ris {
  width: 10vw;
  opacity: 0.6;
}

.ptd {
  text-decoration: none;
  cursor: pointer;
  outline: none;
  color: #0077b5;  /*#D4AF37*/
  font-size: 18px;
  -webkit-transition-property: margin-left; /* Safari */
  -webkit-transition-duration: 0.5s; /* Safari */
  transition-property: margin-left;
  transition-duration: 0.5s;
}

.ptd:hover{
  text-decoration: none;
  cursor: pointer;
  outline: none;
  color: grey;
  margin-left: 10px; 
}

.gtc {
  color: grey;
}

.bcg-1 {
  color: grey;
}

.bcg-2 {
  color: black;
}

.cg-1 {
  color: #333399;
}

.bcg-1 a{
  text-decoration: none;
}

.bcg-1 a:hover{
  text-decoration: none;
  color: orange;
}

.bcg-2 a{
  text-decoration: none;
}

.bcg-2 a:hover{
  text-decoration: none;
  color: orange;
}


/*end of other css*/


/*footer*/

footer {
color: lightgrey;
}
.bg-grey {
background: #292929;
}
.bg-grey p, h5, h4{
color: white;
}
.btn-footer {
color: orange;
text-decoration: none;
border: 1px solid;
border-radius: 43px;
font-size: 13px;
padding: 7px 30px;
line-height: 47px;
margin-right: 20px;
}
.btn-footer:hover {      
text-decoration: none;           
}
.social .fa {
color: grey;
font-size: 22px;
padding: 10px 15px;
background: #3c3c3c;
}
.social .fa-facebook:hover {
color: white;
background: #3b5998 !important;
}
.social .fa-linkedin:hover {
color: white;
background: #0077b5 !important;
}
.social .fa-youtube:hover {
color: white;
background: #b31217 !important;
}
.ftd a:hover{
text-decoration: none;
color: #f5f5f5 !important;
}





/*media queries*/

/* medium */
@media screen and (max-width: 992px) {
 .stm-1 {
  position: relative;
  top: 18vh;
}
 .stm-2 {
  position: relative;
  top: 28vh;
}
 .stm-3 {
  position: relative;
  top: 28vh;
}
.maintxt{
  font-size: 5vw;
  opacity: 1;
}
.itx {
  background-color: transparent; 
  border: none;  
  background-size: 30vw;
}
.navtxt a{
  font-size: 6vw;
  text-decoration: none;
  color: white;
}
.navtxt {
  width: 60vw;
}
.ris {
  margin-left: 0px;
  width: 12vw;
}
}

/* small */
@media screen and (max-width: 600px) {
.stm-1 {
  position: relative;
  top: 18vh;
}
 .stm-2 {
  position: relative;
  top: 32vh;
}
 .stm-3 {
  position: relative;
  top: 32vh;
}
.maintxt{
  font-size: 8vw;
  opacity: 1;
}
.itx {
  background-color: transparent; 
  border: none;  
  background-size: 60vw;
}
.navtxt a{
  font-size: 8vw;
  text-decoration: none;
  color: white;
}
.navtxt {
  width: 80vw;
}
.ris {
  width: 14vw;
  margin-left: 0px;
}
}

/*end media queries*/